<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grability.rappiitunescatalogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RappiItunesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".splash.ui.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.view.ui.AboutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appslist.view.ui.AppListActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".appdetails.view.ui.AppDetailsActivity"></activity>
    </application>

</manifest>